<h5>imports: MatSelectModule, MatInputModule, ReactiveFormsModule</h5>
<div>Must use form. <a href="https://material.angular.io/components/select/overview" target="_blank">More here </a></div>
<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option>-Select One-</mat-option>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>Basic native select</h4>
<mat-form-field>
  <mat-label>Hardcoded Cars</mat-label>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes" disabled>Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>

<h4>Multiple Select</h4>
<mat-form-field>
    <mat-label>Toppings</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>
