<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>My First App</span>
    
    <!-- <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu> -->
  </mat-toolbar-row>
  <mat-toolbar-row>
      <mat-spinner color="accent" diameter=40 strokeWidth=10></mat-spinner>
    <h5>imports: MatToolbarModule, MatMenuModule</h5>
  </mat-toolbar-row>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>